/*Common*/

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.c-prime, {
    color: #2c3e50;
}

.c-white {
    color: white;
}

.bg-prime {
    background-color: #2c3e50;
}

.bg-prime-300 {
    background-color: #3a546d;
}

.bg-second {
    background-color: #1abc9c;
}

h1, h2, .navbar-brand {
    font-weight: bold;
}
h2 {
    padding: 30px 0;
}

.portfolio h2, .contact-me h2 {
    color: #333333;
}
a {
    text-decoration: none;
    color: white;
}

section {
    padding: 72px 0;
}

.smaller-cont {
    width: 75%;
    max-width: 1100px;
}

.btn {
    margin: 20px 0;
    color: white;
}

.star-cont {
    margin-bottom: 20px;
}

.fa-star {
    font-size: 40px;
    margin: 0 20px;
 
}

.hr-star {
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

.portfolio .hr-star, .contact-me .hr-star {
    background-color: #2c3e50;
}

.portfolio .fa-star, .contact-me .fa-star {
    color: #2c3e50;
}
.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 15px 12px;
}
::placeholder {
    color: #2c3e50;
    opacity: 1;
}
/*Header*/

header {
    z-index: 99;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.navbar-light .navbar-toggler {
    border-color: white;
}

.fa-bars {
    display: inline-block;
    vertical-align: middle;
    color: #8888;
}

/*Main*/

main {
    margin-top: 72px;
}

/*Hero*/

h1 {
    padding-top: 20px;
}

.img-hero {
    width: 20%;
    min-width: 259px;
}


/*Portfolio*/



.card {
    border: none;
}

.card-img-top {
    width: 100%;
    border-radius: 10px;
    margin:12px 0;
}

/*About*/

.btn-download {
    border: 1px solid white;
}

.about-col {
    padding-bottom: 30px;
}
.fa-download {
    margin-right: 5px;
}
/*Contact-me*/



.contact-col {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

/*Footer*/

/*Foot-Top*/

.foot-top {
    padding: 20px 0;
}

.i-cont .fab {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 3px;
}

.foot-top a {
    color: #1abc9c;
}
/*Foot-Bottom*/



